@keyframes sliderFondo {
    0% {
        background-image: url('imagendefondo.jpg');
    }

    100% {
        background-image: url('imagendefondo.jpg'); /* background*/
    }
}

/*animación al body */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('imagendefondo.jpg'); /* Imagen de fondo inicial */
    background-size: cover;
    background-position: center;
    animation: sliderFondo 20s infinite; /* Duración de la animación y que sea infinita */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Navbar Estilo */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-buttons {
    display: flex;
    gap: 20px;
}

.navbar-btn {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-btn:hover {
    background-color: #333;
}

/* Estilo para el contenedor del formulario */
.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto; /* Centra el formulario */
}

.form-container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
}
